<div class="firstPageContainer">
  <section class="firstSection">
    <img src="assets/heroPic.png" />
    <div class="svgContainer">
      <h3 class="heroCall">
        Take control of your <span class="diffCol">own health</span>
        <div class="callToAction">
          <app-secondary-button text="Sign Up"></app-secondary-button>
          <app-secondary-button text="login"></app-secondary-button>
        </div>
      </h3>
    </div>
  </section>
  <section class="secondSection">
    <div class="svgContainer inverted"></div>
    <div class="svgContainer"></div>
  </section>
  <section class="thirdSection">
    <div class="svgContainer inverted"></div>
    <div class="svgContainer"></div>
  </section>
</div>
