.upcomingMeal {
  display: flex;
  gap: 5px;
  overflow-y: scroll;
  flex-wrap: nowrap;
  margin-left: 20px;
  /* margin-bottom: 20px; */
}

.upcomingMeal::--webkit-scrollbar {
  display: none;
}

.upcomingMealCard {
  min-width: 300px;
  border-radius: 20px;
}

.upcomingMealContainer {
  padding: 10px 0px 10px 10px;
  width: 100%;
}

.upcomingMealText {
  font-size: xx-large;
}

.todayContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.custom-svg {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
  z-index: -99;
}

.custom-svg svg {
  position: relative;
  display: block;
  width: calc(126% + 1.3px);
  height: 231px;
  transform: rotateY(180deg);
}

.custom-svg .shape-fill {
  fill: #6cc57c;
}

/** For mobile devices **/
@media (max-width: 767px) {
  .custom-svg svg {
    width: calc(300% + 1.3px);
    height: 300px;
  }
}

.errorText {
  color: red;
}
