<h3>Your Meal Plan</h3>
<div *ngIf="!loggedIn" class="notLoggedIn">
  You are not logged in. You can't edit or track your meal plans. To get the
  full experience please<br />
  <a class="signUpLink" routerLink="/register">Sign up</a>
</div>
<mat-chip-listbox class="chips">
  <mat-chip-option
    *ngFor="let day of weekdays"
    [selected]="day === today"
    (selectionChange)="changeSelected(day)"
    >{{ day | titlecase }}
  </mat-chip-option>
</mat-chip-listbox>
<div class="mediumText black-text dailyCalorieText">
  You need {{ calorieNeeded }} calories daily as per your data.
</div>
<div *ngFor="let foods of currentMealPlanArray" class="coupleMealsCard">
  <div class="titleText">
    <div class="mediumText black-text mealTime">
      {{ foods.daytime | titlecase }}
    </div>
    <div class="calorieInfoWithCard">
      <div>Total : {{ calculateCalorie(foods.meals) }} calories</div>
      <div class="recommendedText">
        Reecommended arround:
        {{ recommendedCalorieIntake(foods.daytime) | number : "1.0-0" }}
      </div>
    </div>
  </div>
  <div class="cardContainer">
    <mat-card>
      <div class="singleMealGroup">
        <div *ngFor="let meal of foods.meals" class="singleFood">
          <img mat-card-avatar src="{{ imageBase + meal.meal.mealPicture }}" />
          <mat-label class="mealTitle">{{ meal.meal.mealName }}</mat-label>
          <mat-label class="mealTitle"
            >{{ meal.meal.mealCalorie }} calories</mat-label
          >
          <mat-label class="mealTitle"
            >x{{ meal.quantity + " " + meal.meal.measurementUnit }}
          </mat-label>
        </div>
      </div>
    </mat-card>
  </div>
</div>
