.foodCard {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: fit-content;
  border-radius: 20px;
}

.subtitleDiv {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.cardHeader {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.foodList {
  display: flex;
  gap: 10px;
  padding: 15px;
}

.foodImage {
  max-width: 220px;
  height: auto;
}

.mdc-card__media:first-child {
  border-radius: 50px;
}

.xTimes {
  min-width: fit-content;
}
