<div class="foodList">
  <mat-card *ngFor="let singleMeal of mealList" class="foodCard">
    <img
      mat-card-image
      src="{{ imageBase + singleMeal.meal.mealPicture }}"
      alt=""
      class="foodImage"
    />
    <mat-card-header class="cardHeader">
      <mat-card-title>{{ singleMeal.meal.mealName }}</mat-card-title>
      <div class="subtitleDiv">
        <mat-card-subtitle
          >{{ singleMeal.meal.mealCalorie }} cal. per
          {{ singleMeal.meal.measurementUnit || "piece" }}</mat-card-subtitle
        >
        <mat-card-subtitle class="xTimes">
          x{{ singleMeal.quantity }}
          {{ singleMeal.meal.measurementUnit }}</mat-card-subtitle
        >
      </div>
      <div class="subtitleDiv">
        <mat-card-subtitle>Total calories</mat-card-subtitle>
        <mat-card-subtitle>
          =
          {{
            singleMeal.quantity * singleMeal.meal.mealCalorie
          }}</mat-card-subtitle
        >
      </div>
    </mat-card-header>
    <mat-card-actions class="subtitleDiv">
      <button mat-button>Edit</button>
      <button mat-button>Delete</button>
    </mat-card-actions>
  </mat-card>
</div>
