.singleMealGroup {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.mealTime {
  font-size: larger;
  margin: 10px;
  flex-grow: 1;
}
.mealTitle {
  max-width: 90px;
  text-align: center;
}

.chips {
  margin: 10px;
}

.cardContainer {
  width: 90vw;
}

.singleFood {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.titleText {
  display: flex;
  justify-content: space-between;
  width: 95vw;
}

.dailyCalorieText {
  margin: 10px;
  font-size: larger;
}

.calorieInfoWithCard {
  max-width: 50%;
}

.recommendedText {
  font-size: small;
}

.coupleMealsCard {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin: 20px;
}
