<button mat-icon-button [matMenuTriggerFor]="beforeMenu" class="menuButton">
  <mat-icon>menu</mat-icon>
</button>
<mat-menu #beforeMenu="matMenu" xPosition="before">
  <button routerLink="/home" mat-menu-item><span>Home</span></button>
  <div *ngIf="!loggedIn">
    <button routerLink="/questions" mat-menu-item>
      <span>Meal Plan</span>
    </button>
    <mat-divider></mat-divider>
    <button mat-menu-item routerLink="/login"><span>Login</span></button>
    <button mat-menu-item routerLink="/register"><span>Sign Up</span></button>
  </div>
  <div *ngIf="loggedIn">
    <button routerLink="/generated-meal-plan" mat-menu-item>
      <span>All Meal Plan</span>
    </button>
    <button routerLink="/mealplan/today" mat-menu-item>
      <span>Today's Meal Plan</span>
    </button>
    <button routerLink="update-mealplan" mat-menu-item>
      <span>Update Meal Plan</span>
    </button>
    <button routerLink="history" mat-menu-item>
      <span>View your History</span>
    </button>
    <mat-divider></mat-divider>
    <button routerLink="update-user-data" mat-menu-item>
      <span>Update Your Data</span>
    </button>
    <button routerLink="update-profile" mat-menu-item>
      <span>Update Your profile</span>
    </button>
    <button mat-menu-item (click)="logOutUser()">
      <mat-icon>logout</mat-icon><span>Logout</span>
    </button>
  </div>
</mat-menu>
