<button mat-icon-button [matMenuTriggerFor]="beforeMenu" class="menuButton">
  <mat-icon>menu</mat-icon>
</button>
<mat-menu #beforeMenu="matMenu" xPosition="before">
  <button mat-menu-item><span>Home</span></button>
  <button mat-menu-item><span>Meal Plan</span></button>
  <div *ngIf="!loggedIn">
    <mat-divider></mat-divider>
    <button mat-menu-item routerLink="/login"><span>Login</span></button>
    <button mat-menu-item routerLink="/register"><span>Sign Up</span></button>
    <mat-divider></mat-divider>
  </div>
  <div *ngIf="loggedIn">
    <mat-divider></mat-divider>
    <button mat-menu-item (click)="logOutUser()">
      <mat-icon>logout</mat-icon><span>Logout</span>
    </button>
    <mat-divider></mat-divider>
  </div>
  <button mat-menu-item><span>About</span></button>
</mat-menu>
