.loginForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.loginFormContainer {
  display: flex;
  height: 100vh;
  width: 100vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.forgotPassword {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  padding-bottom: 8px;
}

.loginForm > * {
  height: 80px;
}

.linkText {
  color: #339166;
  padding-left: 0.5ch;
  text-decoration: none;
}

.socialMedia {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0px;
  gap: 21px;
  width: 100%;
  /* height: 200px; */
}

.backGround {
  position: absolute;
  z-index: -999;
  overflow: hidden;
  /* width: 100%;
  top: 50%;
  left: -9%;
   */
}
.bottomGraphic {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  z-index: -99;
  transform: rotate(180deg);
}

.bottomGraphic svg {
  position: relative;
  display: block;
  width: calc(126% + 1.3px);
  height: 231px;
  transform: rotateY(180deg);
}

.bottomGraphic .shape-fill {
  fill: #6cc57c;
}

/** For mobile devices **/
@media (max-width: 767px) {
  .bottomGraphic svg {
    width: calc(193% + 1.3px);
    height: 150px;
  }
}

.googleLoginButton {
  max-width: 200px;
  height: auto;
  z-index: 20;
}

.googleLoginButton:active {
  content: url("/assets/google/google-login-pressed.png");
}
