.loginForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.loginFormContainer {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.forgotPassword {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  padding-bottom: 8px;
}

.loginForm > * {
  height: 80px;
}

.linkText {
  color: #339166;
  padding-left: 0.5ch;
}

.socialMedia {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0px;
  gap: 21px;
  width: 100%;
  /* height: 200px; */
}

.backGround {
  position: absolute;
  top: 50%;
  left: -9%;
  z-index: -999;
}
