:host {
  overflow: hidden;
}
.loginForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.loginFormContainer {
  position: fixed;
  /* left: 50vw; */
  display: flex;
  height: 100dvh;
  width: 100dvw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.forgotPassword {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  padding-bottom: 8px;
}

.loginForm > * {
  height: 80px;
}

.linkText {
  color: #339166;
  padding-left: 0.5ch;
  text-decoration: none;
}

.socialMedia {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0px;
  gap: 21px;
  width: 100%;
  /* height: 200px; */
}

.backGround {
  position: absolute;
  z-index: -999;
  overflow: hidden;
  /* width: 100%;
  top: 50%;
  left: -9%;
   */
}
.custom-shape-divider-bottom-1677761973 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  z-index: -99;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1677761973 svg {
  position: relative;
  display: block;
  width: calc(126% + 1.3px);
  height: 231px;
  transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1677761973 .shape-fill {
  fill: #6cc57c;
}

/** For mobile devices **/
@media (max-width: 767px) {
  .custom-shape-divider-bottom-1677761973 svg {
    width: calc(193% + 1.3px);
    height: 150px;
  }
}
