.userDataInputForm {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100vw;
  align-items: center;
  justify-content: center;
}
.userDataInputForm > mat-form-field {
  width: 90%;
}
.updateDataFormContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
}
.custom-svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  z-index: -99;
}

.custom-svg svg {
  position: relative;
  display: block;
  width: calc(126% + 1.3px);
  height: 231px;
  transform: rotateY(180deg);
}

.custom-svg .shape-fill {
  fill: #6cc57c;
}

/** For mobile devices **/
@media (max-width: 767px) {
  .custom-svg svg {
    width: calc(1300% + 1.3px);
    height: 300px;
  }
}
